services:
  web:
    image: odoo:17.0
    depends_on:
      - db
    ports:
      - "8070:8069"
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./files/config:/etc/odoo
      - ./files/addons:/mnt/extra-addons
    networks:
      - odoonet

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
    volumes:
      - odoo-db-data:/var/lib/postgresql/data
    networks:
      - odoonet

networks:
  odoonet:


volumes:
  odoo-web-data:
  odoo-db-data:
